<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
<title>Travel App</title>
</head>
 <body>
<!-- <div id = "app"> -->
  <div class ="headline">
   <h1> Let's explore...</h1>
  </div>
  <!-- Location Input -->
  <div id="location">
    <label for="placename">Where are you traveling to?</label>
    <input type="text"  id='placename' placeholder="Travel Location" required>
  </div>
  <!-- Date Input -->
  <div class ="dates">
    <div>
      <label for="startDate">Trip start date</label>
      <input type="date" class= "dateInput" id="startDate" placeholder="Travel start date" required>
    </div>
<!-- Button -->
    <button id="generate" type = "submit"> Generate </button>
  </div>
<!-- Results -->
  <section id="results" class="noDisplay" >
      <img id="pix">
      <div>
          <h3 id='tripTitle'></h3>
          <!-- Show this content if the current weather is displayed -->
          <div id='currentWeather' class='noDisplay'>
             <p id='currentTitle' ></p>
             <img id='currentWeatherIcon'>
             <h1 id='currentTemp'></h1>
          </div>

          <!-- Show this if 5-day forecast is displayed -->
          <div id='forecast' class='noDisplay'>
            <p id='forecastTitle'></p>
            <ul id='fiveDayForecast'></ul>
          </div>
      </div>



  </section>
<footer>
  <p>Capstone Project</p>
</footer>

</body>
</html>