<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
<title>Weather Journal</title>
</head>
 <body>
<!-- <div id = "app"> -->
  <div class ="headline">
   <h1> Lets explore...</h1>
  </div>
  <!-- Location Input -->
  <div id="location">
    <label for="location">Where are you traveling to?</label>
    <input type="text"  placeholder="Travel Location" required>
  </div>
  <!-- Date Input -->
  <div class ="dates">
    <div  id="startDate" >
      <label for="start date">Trip start date</label>
      <input type="date" class= "dateInput"placeholder="Travel start date" required>
  </div>
  <div id="endDate">
    <label for="end Date">Trip end date</label>
    <input type="date" class= "dateInput"  placeholder="Travel end date" required>
  </div>
<!-- Button -->
    <button id="generate" type = "submit"> Generate </button>
  </div>
<!-- Results -->
  <div class ="results">
    <div class = "title">Trips
    </div>
    <hr>
   <div id = "entryHolder">
      <div id = "date"></div>
      <div id = "temp"></div>
      <div id = "content"></div>
  </div>
  </div>
  <!-- Saved Trips? -->
  <div>
    Saved Trips
    <hr>
  </div>
<footer>
  <p>Capstone Project</p>
</footer>

</body>
</html>