// @import url('../media/header-background.jpg');

.headline{
    width: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                       rgba(0, 0, 0, 0.3)), url('../media/header-background.jpg');
    background-size: cover;
    background-position: center;
    justify-self: stretch;
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {

        font-size: 2em;

    }
}