// By default display none. JS will trigger to remove class

#results{
    display: grid;
    margin: 4em;
    grid-template-columns: minmax(40ch, 110ch);
    justify-items: center;
    grid-gap: 1em;
}


#pix{
    object-fit:fill;
    max-width: 450px;
    margin: 0 20px;
    box-shadow: 0px 4px 5px #444;
}
// For Weather class to override the display above
.noDisplay {
    display:none !important;

}

#tripTitle{
    text-align: center;
}

//CURRENT WEATHER STYLES

#weatherContainer{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}

#currentWeather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 125px;
    background: #57637e;
    color: #eee;
    border-radius: 10px;
    box-shadow: 0px 4px 5px #444;
    padding: 1em;

    #currentWeatherIcon{
        width: 100%;
        max-width: 75px;
    }

    #currentTemp {
        font-family: 'roboto', sans-serif;
        font-size: 2em;
        margin: 5px;
    }


}

//FORECAST STYLES
#forecast{


    #fiveDayForecast{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-inline-start: 0;

    }




}


.forecastDay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 5px;
    height: 100px;
    width: 75px;
    background: #57637e;
    color: #eee;
    border-radius: 10px;
    box-shadow: 0px 4px 5px #444;
    padding: 1em;

        img {
            width: 100%;
            max-width: 40px;
        }

        h1 {
            font-family: 'roboto', sans-serif;
            font-size: 1.5em;
            margin: 2px;
        }
        p {
            font-size: 0.75em;
        }





}

