

// Imports
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto&display=swap');

//Other Stylesheets
@import './_header.scss';
@import './_inputs.scss';
@import './_footer.scss';
@import './_results.scss';



// Style Variables

//fonts
$header-font: 'lora', serif;
$text-font: 'roboto', sans-serif;




//


body{
    background: #eee;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    display: grid;
    grid-template-rows: 300px 100px 200px auto auto;
    min-height: 100vh;
    // background: #eeeeee;
    color: #181818;
    justify-items: center;
    grid-gap: 1em;
    font-size: 14px;
    font-family: $text-font;
    margin: auto;
}




/*  Basic Styling To Override Default For Basic HTML Elements */

button{
    // width: 400px;
    height: 50px;
    background: #3b4a6b;
    color: #eeeeee;
    font-size: 1em;
    font-family: $text-font;
    border: none;
    box-shadow: 0px 4px 5px #444;
    cursor: pointer;
}
label{
    display:block;
    font-size: 20px;
    margin-bottom: 0.5em;
}

input{
    display:block;
    height: 2em;
    padding: 0 10px;
    background:#cecece;
    color: #2b2b2b;
    font-size: 20px;
    font-family: $text-font;
    border: none;
    border-radius: 10px;

}



h1{
    font-size: 50px;
    font-family: $header-font
}

textarea{
    background:#cfcfcf;
    color: #2b2b2b;
    font-size: 20px;
    font-family: $text-font;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */
    color: #2b2b2b9c;
    font-family: 'Oswald', sans-serif;

}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #2b2b2b9c;
    font-family: 'Oswald', sans-serif;

}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #2b2b2b9c;
    font-family: 'Oswald', sans-serif;

}