body{
    background: #eee;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    height:60vh;
    background: #eeeeee;
    color: #181818;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    margin: auto;
}

.holder{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.entry{
    background: rgba(59, 74, 107, .4);
    padding: 1em;
    margin-top: 2em;
    height: 200px;
    justify-content: flex-start;
}

#entryHolder{
    display: flex;
    flex-direction: column;
}

#date{
    font-size:.75em;
    font-style: italic;
}

#temp{
font-size: 2em;
font-weight: bold;
}

#content{

}

.headline {

}
.title{
justify-self: start;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background:#22b2da;
    color: #2b2b2b;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button{
    width: 400px;
    height: 50px;
    background: #3b4a6b;
    color: #eeeeee;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    cursor: pointer;
    margin-top: .5em;
}

h1{
    font-size: 50px;
}

textarea{
    background:#22b2da;
    color: #2b2b2b;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */
    color: #2b2b2b9c;
    font-family: 'Oswald', sans-serif;

}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #2b2b2b9c;
    font-family: 'Oswald', sans-serif;

}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #2b2b2b9c;
    font-family: 'Oswald', sans-serif;

}